---
layout: layouts/base.njk
---
{# Only include the syntax highlighter CSS on blog posts #}
{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{%- css %}{% include "public/css/prism-diff.css" %}{%- endcss %}
<h1>{{ title }}</h1>

<article>
	<ul class="post-metadata">
		<li><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></li>
		{%- for tag in tags | filterTagList %}
		{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
		<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</li>
		{%- endfor %}
	</ul>

	{{ content | safe }}

	<form class="contact-form" name='contact form' netlify>
		<h2>Contact Me!</h2>
		<input type="hidden" value="Post: {{title}}" name="source" />
		<label name="email">Email:
			<input type="email" />
		</label>
		<p>Email is optional, in case you might want to be contacted back!</p>

		<label>Comment:
			<textarea required=true name="comment"></textarea>
		</label>
		<button type="submit">Submit</button>
	</form>

	{%- if collections.posts %}
	{%- set previousPost = collections.posts | getPreviousCollectionItem %}
	{%- set nextPost = collections.posts | getNextCollectionItem %}
	{%- if nextPost or previousPost %}
	<ul class="links-nextprev">
		{%- if previousPost %}<li>Previous: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
		{%- if nextPost %}<li>Next: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
	</ul>
	{%- endif %}
	{%- endif %}
</article>